    # ------------------ Directories
    # npm / pnpm installed modules
    /node_modules/
    # Temp Directories for VuePress local server
    /docs/.vuepress/.cache/
    /docs/.vuepress/.temp/
    # VuePress Build Distribution
    /docs/.vuepress/dist/
    # ------------------ Files 
    # This is a Mac specific tracking file in every dir
    *.DS_Store